#about-chicken {
        
    width: 100%;
    height: auto;
    background-color: white;
    display: flex;
    /* border: 1px solid yellowgreen; */
    margin: auto;
    margin-top: 20px;
    justify-content: center;
    line-height: 20px;
  }

  #left-pane {
    background-color: white;
    width: 900px;
    /* border: 1px solid red; */
    font-family: "Roboto", sans-serif;
    font-size:13px;
    padding: 10px;

  }

  #right-pane {
    background-color: white;
    width: 450px;
    /* border: 1px solid blue; */
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    line-height: normal;
    color: grey;
    padding-top: 45px;
  }

  .list {
    margin-top: 10px;
    margin-left: 0px;
  }

  li {
    margin-top: 10px;
    margin-left: -20px;
  }
  .no-style {
    list-style-type: none;
    margin-left: -40px;
    margin-top: 10px;
  }

  .faq-des {
    margin-top: 10px;
  }

  table{
    margin: auto;
  }

  th, td{
    padding: 10px 10px 10px 20px;
    border-bottom: 1px solid black;
  }

  .last-line{
    text-align: center;
    font-style: italic;
  }

  /* bread scrumb start */
/* bread cum start */
.bread-crumb{
  /* border: 1px solid red; */
  width: 70%;
  height: 40px;
  display: flex;
  padding: 10px;
  margin-top: 225px;

}

.anchor{
  text-decoration: none;
  margin-left: 5px;
  margin-right: 5px;
  color:#878686;
}
.caret{
  margin-left: 5px;
  margin-right: 5px;
  /* height: 2px; */
}
#mainh{

  margin-left: 5px;
  margin-right: 5px;
  color: red;

}
.head-after-scrumb{
  margin-left: 6px;
  color: #585858;
  /* border:1px solid red; */
  width: 70%;
  height: 50px;
  padding: 10px;
  /* line-height: 5px; */
  margin-top: -15px;
  box-sizing: border-box; 
}
/* bread-scrumb ended */