* {
  font-family: "Lato", sans-serif;
  /* background-color: #f7f6f6; */

}

body{
  background-color: whitesmoke;

}



.the-container{
  width: 1150px;

  margin: auto;
  margin-top: 250px;
}

.upper-line {
  display: flex;
  margin: 10px;
  justify-content: flex-start;
  gap: 10px;
  align-items: center;
}

.upper-line > div {
  width: 250px;
  display: flex;
  justify-content: center;
}

.upper-line > h1 {
  color: #585858;
  margin-right: 10px;
  margin-left: -1%;
}

.upper-line > div > img {
  width: 50px;
  height: 50px;
}
.upper-line > div > p {
  border: 1px solid #585858;
  font-size: 14.5px;
  width: 250px;
  height: 40px;
  margin: auto;
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
  border-radius: 5px;
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;

}

#express-deli{
  display: flex;
  gap: 20px;
}

#express-deli > div{
  border: 1px solid black;
  width: 120px;
  height: 30px;
  background-color: white;
  color: black;
  text-align: center;
  padding: 5px;
}

select{
  border: none;
  font-size: 11px;
}

option{
border: 1px solid black;
width: 100px;
height: 20px;
background-color: white;
color: black;
text-align: center;
padding-top: 5px;
}



#main-container1, #main-container2{
  width: 1150px;
  height: auto;
  margin: auto;
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  /* grid-template-rows: repeat(12, 450px); */
  gap: 25px;
}





.price-line{
  margin-top: -5px;
  display: flex;
  justify-content: space-evenly;
  font-size: 18px;
}

.net-wt-line{
  padding-left: 10px;
  margin-top: -10px;
  display: flex;
  gap: 20px;
  justify-content: flex-start;
}

.add_to_cart{
 background-color: #E41D36;
 color: white;
 width: 100px;
 height: 35px;
 font-size: 12px;
 border-radius: 5px;
 font-weight: bold;

}

.deli-img{
  width: 20px;
  height: 20px;
  /* border: 1px solid black; */
}

.dtime{
  /* border: 1px solid red; */
  /* align-items: center; */
  margin-top: 10px;
  
}

.deli-line{
  display: flex;
  margin: auto;
  align-items: center;
  gap: 10px;
  justify-content: center;
  /* border: 1px solid blue; */
}

.baner{

  margin-top: 30px;
  height: 110px;
  width: 800px;
  margin: auto;
  margin-top: 20px;
  border-radius: 10px;
  background-color: #ffdc93;
  /* display: grid; */
}

.banerUp{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid black;
}

.banerBtn{
  height: 35px;
  width: 106px;
  background-color: rgba(255, 0, 0, 0.435);
  color: white;
  border-radius: 5px;
  margin-top: 5px;
  margin-right: 5px;
}

.banerDown{
  height: 25px;

}

.banerD{
margin-top: -5px;  
padding: 10px;
}